$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.wrapper{
  position : relative;
  margin-top : 10vh;
  width : 330px;
  height : 330px;
}
.tile{
  position: relative;
  display : block;
  float : left;
  width : 100px;
  height : 100px;
  margin-left : 10px;
  margin-bottom : 10px;
}

.tile-icon{
   position: absolute;
   margin: 0 auto;
   top : 10px;  
   left: 25px; 
   width: 50px;
   height: 50px;
   opacity : 0.8;
   z-index:1;
  
}

.tile-name{
position : absolute;
bottom : 5px;
left : 5px;  
font-family: 'Roboto', sans-serif;
color : #fff;
z-index:2;

}


.red{background-color: #F44336}
.indigo{background-color: #536DFE}
.green{background-color: #4CAF50}
.purple{background-color: #E040FB}
.pink{background-color: #FF4081}
.amber{background-color: #FFC107}
.teal{background-color: #009688}
.cyan{background-color: #00BCD4}
.brown{background-color: #795548}
.lime{background-color: #CDDC39}



